!!! 5
html(lang="en")
  head
    title Platform Game
    script(type="text/javascript", src="/lib/impact/impact.js")
    script(type="text/javascript", src="/lib/game/main.js")
    block head
  body
    block content
